server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: inventory-service
              uri: lb://inventory-service
              predicates:
                - Path=/inventory/**
            - id: order-service
              uri: lb://order-service
              predicates:
                - Path=/api/placeorder/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
