spring:
  application:
    name: inventory-service

server:
  port: 8081

eureka:
  client: 
   service-url:
    defaultzone: http://localhost:8761/eureka/
   register-with-eureka: true
   fetch-registry: true