spring:
  application:
    name: eureka-server

server:
  port: 8761

eureka:
  client:
    register-with-eureka: false   # Server doesn’t register itself
    fetch-registry: false         # Server doesn’t fetch registry from others
  server:
    wait-time-in-ms-when-sync-empty: 0